.Comments-Section{
    border-top: 1px solid black;
    border-bottom:1px solid black; 
}

#Comments-heading{
    margin: 10px;
    font-weight: bolder;
    letter-spacing: 1.5px;
}

.add-comment{
    max-width: 90%;
    margin : 40px;
    /* border : 1px solid; */
    border-radius: 10px;
    
}

/* .add-comment:hover{
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
} */

textarea{
    width: 100%;
    height: auto;
    border: none;
    background-color: #d3d3d3;
    border-radius: 10px;
    /* margin-top: 10px; */
    /* margin-left: 50px; */
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(80, 28, 28, 0.07);
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    resize: vertical;
}

textarea:hover{
    border: none;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.textarea:focus{
    
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.comment-card{
    position: relative;
    display: inline-block;
    margin:30px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08) !important;
}
.comment-card p{
    letter-spacing: 2px;
    font-family: cursive;
    margin-left: 20px;
    padding-top: 15px;
    display: inline;
    vertical-align: middle;
}
.comment-card img{
    vertical-align: middle;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 75%;
    height :50px;
    width: 50px;
    
}
.time {
    padding-bottom: 10px;
    padding-right: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: small;
    font-family: sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
}
.comment{
    display: flex;
    justify-content: center;
    align-items: center;
}
.comment p{
    letter-spacing: 2px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    color: grey;
    font-family: system-ui;
    max-width: 60ch;
}

@media screen and (max-width: 600px) {
    .comment p{
        letter-spacing: 2px;
        line-height: 20px;
        margin: 0;
        padding: 0;
        padding-bottom: 50px;
        color: grey;
        font-family: system-ui;
        max-width: 30ch;
    }   
  }
