* {
  margin: 0;
  padding: 0;
}
.center {
  margin-top: 50px;
  text-align: center;
}
i {
  color: grey;
  font-size: 12px;
}
.center img {
  width: 10%;
}

blockquote::before {
  content: open-quote;
}
blockquote::after {
  content: close-quote;
}
blockquote {
  color: grey;
  quotes: "“" "”" "‘" "’";
}
input {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid;
  color: #757575;
  width: 250px;
  height: 30px;
  margin: 5px;
  box-shadow: 9px 9px 2px 1px rgba(0, 0, 255, .2);
  padding-left: 10px;
  text-shadow: 20px;
  border-color: #c3c3c3;
  
}

.center span {
  color: #e0ac1c;
  font: normal 36px "Cookie", cursive;
}
h3 {
  /* color:  #ffffff; */
  font: bold 20px sans-serif;

  margin: 0;
}
input:focus {
  outline: none;
  /* border: 1.5px solid black; */
  box-shadow: 0 0 0 0.2rem rgba(102, 99, 99, 0.25);
  color: black;
}
button {
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border: none;
  color: cornsilk;
  background-color: black;
  margin: 10px;
  border-radius: 20px;
}
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }