* { margin: 0; padding: 0; box-sizing: border-box;}

html {
    height: 100%;   
}

body {
    background-color: #f3f2ef;
    height: 100%;
}

.container {
    padding: 0 100px;
    display: flex;
    flex-direction: row;
    background-color: #f3f2ef;
    background-image: linear-gradient(to top, #402f51, #403d60, #3f4c6d, #405a79, #436882, #4e798b, #5e8992, #72999a, #94afa7, #b7c4b9, #d7dad2, #f3f2ef);
    min-height: 700px;
}

.left {
    flex: 1;
    height: 70%;
    background-color: white;    
    margin-right: 5px;
    margin: 20px;
    border-radius: 15px;
    border: 1px solid #d8d8d8;
}

.right {
    flex: 5;
    background-color: white;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 15px;
    border: 1px solid #d8d8d8;
}

.profile {
    display: flex;
    flex-direction: column-reverse;
}

.profile > hr {
    margin:0px 20px 0px 20px;
    color: #e8e8e8;
}

.profileForm {
    display: flex;
    flex-direction: column;  
}

.profileButton {
    background-color: white;
    padding: 0.6rem;
    border-width: 0px;
    border-color: #cfcfcf;
}

.fill {
    background: #00F6FF;
}

.profileButton:focus {
    outline: none !important;
    box-shadow: none !important;
    background: #e4e8e8;
    transition: 0.3s ease-in;
}

.profileButton:hover {
    outline: none !important;
    box-shadow: none !important;
    background: #e4e8e8;
    transition: 0.3s ease-in;
}

#bottom-curve {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.top {
    flex: 1.5;
    padding: 20px 20px 0 20px;
    display: flex;
}

input{
    padding: 20px 20px 20px 20px;
    border: none;
    border: 1.5px solid #d3d3d3;
}

input:focus {
    transform: scale(1.001,1.001);
    transition: all 00.5s;
    border: 1.5px solid #6582c0;
    outline: none;
}

.top > div {
    background-color: black;
}

.top > p {
    align-self: center;
    justify-self: center;
    margin-right: auto;
    font-size: xx-large;
    font-weight: 100;
}

.top > input {
    background-color: white;
    align-self: center;
    border-width: 1px;
    padding: 0.6rem;
}

.top > input:focus {
    outline: none !important;
    box-shadow: none !important;
    background: #00F6FF;
}

.bottom {
    flex: 10;
}

.editForm {
    padding: 20px;
}

.group {    
    display: flex;
    flex-direction: column;
    margin: 10px;   
}   

.group > label {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: medium;
}

.group > input {
    margin-top: 3px;
    margin-bottom: 10px;
    height: 30px;
}

.group > input[type="file"] {
    cursor: pointer;
    outline: none;
}

.group > input[type="file"]:before {
    content: "Select Your File";
    text-align: center;

}

.group > input[type=file]::-webkit-file-upload-button {
    visibility: hidden;
}

.group > textarea {
    margin-top: 3px;
    margin-bottom: 10px;
    padding: 20px 20px 20px 20px;
    border: 1.5px solid #d3d3d3;
    resize: initial;
}

textarea:focus {
    transform: scale(1.001,1.001);
    transition: all 00.5s;
    border: 1.5px solid #6582c0;
    outline: none;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    flex: 1;
} 

.roundImage {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.profileImage {
    flex: 1;
    align-self: center;
    margin: 10px;
}

.profileDetail {
    margin: 10px 10px 15px 10px;
    text-align: center;
}


.profileDetail > p:nth-child(1) {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: large;
}

.profileDetail > p:nth-child(2) {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    font-size: small;
}

.profileDetail > p > span {
    font-weight: bold;
}

@media (max-width:600px) {
    .container {
        padding: 0;
    }
    .left{
        display: none;
    }
    .right{
     margin : 0;
    }
    .row{
        display: flex;
        flex-direction: column;
    }
    .top{
        
        display: flex;
        padding: 20;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .top > p{
    margin-right: 0;
    }
    .top > input {
        margin-right: 0 !important;
        margin-top: 3px;
        margin-bottom: 3px;
    }

  }

.submitGroup {
    display: flex;
    flex-direction: column;
}

.submitGroup > p {
    text-align: center;
}

.submitGroup > input {
    justify-self: center;
    background-color: #000000;
    color: white;
    align-self: center;
    border-width: 1px;
    padding: 1rem;
    border-radius: 7px;
    border: 1px solid black;
}

.submitGroup > input:hover {
    transform: scale(1.05, 1.05);
    transition: all 0.3s ease-in;
    background-color: white;
    color: black;
}

.submitGroup > input:focus {
    outline: none !important;
    box-shadow: none !important;
    background: white;
}
