.searchArea {  
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}
 
.searchArea > label{  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: medium;
    margin-top: auto;
    margin-bottom: auto;
}


.searchArea > input {
    background-color: white;
    align-self: center;
    justify-self: center;
    border-width: 1px;
    border-radius: 30px;
    margin: 5px 0px;
    height: 40px;
}

.searchArea > input:focus {
    outline: none;
}

.searchArea > input[type="submit"] {
    background-color: black;
    color: white;
}

.searchArea > input[type="submit"]:focus {
    outline: none !important;
    box-shadow: none !important;
    background: #00F6FF;
}

.trainerList {
    display: flex;
    flex-direction: column;
}

.singleTrainer {
    display: flex;
    justify-content: start;
    border-bottom:1.5px solid #d3d3d3;
    padding: 15px;
    flex-direction: row;
}

.singleTrainer:first-child {
    border-top:1.5px solid #d3d3d3;
}

.singleTrainer > img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.singleTrainer > video {
    border-radius: 7px;
    height: 100px;
    width: 175px;
}

.singleTrainer > video:focus {
    outline: none;
}

.singleTrainerButton {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 5px;
}

.singleTrainerButton > button {
    margin: 2px;
    padding: 10px 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: medium;
}

.singleTrainerButton > button:nth-child(1) {
    border: none;
    border-radius: 3px;
    background: transparent;
    color: grey;
}

.singleTrainerButton > button:nth-child(1):focus {
    outline: none;
}

.singleTrainerButton > button:nth-child(2):focus {
    outline: none;
}


.singleTrainerButton > button:nth-child(1):hover {
    transition: all 0.2s linear;
    background-color: #d3d3d3;
}


.singleTrainerButton > button:nth-child(2) {
    border: 1px solid #d73a49;
    border-radius: 30px;
    background-color: white;
    color: #d73a49;
}

.singleTrainerButton > button:nth-child(2):hover {
    background-color: #d73a49;
    color: white;
    transition: all 0.2s linear;
}


.detailContent {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.detailContent > p:nth-child(1) {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: large;
    color: #595959;
}

.detailContent > p:nth-child(2) {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
    font-weight: 100;
    font-size: small;
    color: #9b9b9b;
}

.detailContent > p:nth-child(3) {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
    font-weight: 100;
    font-size: small;
    color: #9b9b9b;
}

a {
    text-decoration: none;
    color: black;
}

  @media (max-width:600px) {
    .singleTrainer{
        flex-direction: column;
        align-items: center;
    }

    .singleTrainerButton {
        margin: unset;
    }

    .detailContent {
        margin: 3px 0 3px 0;
        text-align: center;
    }

    .detailContent-2 {
        margin: 3px 0 3px 0;
        text-align: center;
    }
}

.time-1 {
    color: rgb(27, 27, 27) !important;
    margin-top: auto !important;
    margin-left: auto !important;
}



.detailContent-2 {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.detailContent-2 > p:nth-child(1) {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: large;
    color: #595959;
}

.detailContent-2 > p:nth-child(2) {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
    font-weight: 100;
    font-size: small;
    color: #3d3d3d;
}

.detailContent-2 > p:nth-child(3) {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
    font-weight: 100;
    font-size: small;
    color: #9b9b9b;
}
